<!-- wp:template-part {"slug":"header","theme":"skeleton-fse"} /-->
<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
<!-- wp:pattern {"slug":"skeleton-fse/skeleton-fse-hero-banner"} /-->
<!-- wp:pattern {"slug":"skeleton-fse/skeleton-fse-section1"} /-->
<!-- wp:pattern {"slug":"skeleton-fse/skeleton-fse-section2"} /-->
<!-- wp:pattern {"slug":"skeleton-fse/skeleton-fse-section3"} /-->
<!-- wp:pattern {"slug":"skeleton-fse/skeleton-fse-section4"} /-->
<!-- wp:pattern {"slug":"skeleton-fse/skeleton-fse-section6"} /-->
</main><!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"skeleton-fse","tagName":"footer"} /-->